<mat-card class="m-3">
    <form [formGroup]="this.questions">
        <mat-form-field class="w-100">
            <mat-label>Question</mat-label>
            <input matInput placeholder="Question" formControlName="question" />
          </mat-form-field>

          <!-- <mat-form-field class="w-100">
            <mat-label>Answers</mat-label>
            <input matInput placeholder="Answers" formControlName="answers" />
          </mat-form-field> -->
   
          <mat-form-field class="w-100">
            <mat-label>Correct Answer</mat-label>
            <input matInput placeholder="Correct Answer" formControlName="correctAnswer" />
          </mat-form-field>

          <mat-form-field class="w-100">
            <mat-label>Explanation</mat-label>
            <input matInput placeholder="Explanation" formControlName="Explanation" />
          </mat-form-field>

          <label>Image : </label><br>
            <input  type="file" accept=".jpg, .png, .jpeg" placeholder="Image" formControlName="Path" (change)="imgUpload($event)">
            
            <br><br><br>

            <div formArrayName="answers">
              <div>
                <button type="button" (click)="onAddAnswers()">Add Answers</button>
                <div class="form-group" *ngFor="let answers of answersControl; let i = index">
                  <input type="text" class="form-control" [formControlName]="i">
                </div>
              </div>
            </div>
<br><br>

            <div>
              <p>Question : {{questions.value.question}}</p>
              <p>

                Answers : <br> 
                {{questions.value.answers[0]}} <br>
                {{questions.value.answers[1]}}<br>
                {{questions.value.answers[2]}}<br>
                {{questions.value.answers[3]}}<br>
                {{questions.value.answers[4]}}
              </p>
              <p>
                Explanation : {{questions.value.Explanation}}
              </p>
              <p>
                <img [src]="image" class="Path"
            onerror="this.onerror=null;" width="80px" height="80px">
              </p>
            </div>

            <br><br>
          <button class="btn btn-primary form-control" (click)="questionAdd()" >
            Add Question
          </button>
           
    
           
    </form>
    
</mat-card>

<div *ngFor="let examPaper of examPapers.Questions.reverse();let indexOfelement=index;">


  <mat-card class="m-3">
      <h3>{{indexOfelement + 1}}. {{examPaper.Question}}</h3>
      
      <div *ngIf="examPaper.Path?.url">
          <img [src]="examPaper.Path.url" alt="" width="100px" height="100px">
      </div>
      <div>
          <div *ngFor="let answer of examPaper.Answers;let i=index;">
              <span [ngClass] = "{'correct':(i+1) == examPaper.CorrectAnswer}" >
                  {{i+1}} . {{answer}}
              </span>
          </div>
      </div>
      <h3>Explanation : {{examPaper.Explanation}}</h3>
  </mat-card>
</div>

