<mat-card class="m-3">
  <!-- {{paper.value}} -->
  <form [formGroup]="this.paper">
    <!-- {{paper.value}} -->
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Institute Name</mat-label>
      <mat-select name="Institute" formControlName="InstituteID" required>
        <mat-option
          *ngFor="let institute of institutes"
          [value]="institute._id"
        >
          {{ institute.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br />
    <!-- here -->
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Subject Name</mat-label>
      <mat-select name="Subject Name" formControlName="SubjectName" required>
        <mat-option *ngFor="let subject of subjects" [value]="subject.subject">
          {{ subject.subject }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br />
    <mat-form-field class="w-100">
      <mat-label>Exam Paper Name</mat-label>
      <input matInput placeholder="Exam Paper Name" formControlName="ExamPaperName" />
    </mat-form-field>

    <!-- <mat-form-field class="w-100">
      <mat-label>Term</mat-label>
      <input matInput placeholder="Term" formControlName="Term" />
    </mat-form-field> -->

    <mat-form-field class="w-100">
      <mat-label>Grade</mat-label>
      <input matInput placeholder="Grade" formControlName="Grade" />
    </mat-form-field>

    <button class="btn btn-primary form-control" (click)="onSubmit()">
      Add subject
    </button>
    
  </form>
</mat-card>


