<div>
  <br><br>
  <div class="head">
    <h1 id="exam-heading"><b>{{heading}}</b></h1> 
  </div>
<div class="top-button">
  <button type="button" class="btn btn-dark" *ngIf="this.isButtonVisible3"  (click)="onItemSelector('all')">Show All Papers</button>

  <button type="button" class="btn btn-dark" *ngIf="this.isButtonVisible1"  (click)="onItemSelector(true)">View Published Papers</button>
  <button type="button" class="btn btn-dark" *ngIf="this.isButtonVisible2" (click)="onItemSelector(false)">View Papers Not Yet Published</button>
</div>
</div>
<div *ngFor="let quiz of quizzess; let i = index">
  <mat-card class="m-3">
    <mat-card-title>
      {{ quiz.ExamPaperName }}
    </mat-card-title>

    <p class="card-text">Subject:-{{ quiz.SubjectName }}</p>
    <button mat-icon-button class="favorite-icon" aria-label="Notification">
      <mat-icon matBadge="{{ quiz.Questions.length }}" matBadgeColor="warn">
        question_answer</mat-icon
      >
    </button>
 <br>
 <span *ngIf="quiz.Published==false">
  

    <button
      mat-mini-fab
      color="warn"
      aria-label="Example icon button with a delete icon"
      routerLink="/add-question/{{ quiz._id }}"
      matTooltip="Add new Question..."
      [matTooltipShowDelay]="150"
    >
      <mat-icon>edit_note</mat-icon>
    </button>
  </span>
    <button
    mat-mini-fab
    color="warn"
    aria-label="Example icon button with a delete icon"
    routerLink="/view-question/{{ quiz._id }}"
    matTooltip="view Question..."
    [matTooltipShowDelay]="150"
  >
    <mat-icon>view_list</mat-icon>
  </button>
  </mat-card>
</div>

<div class="float-button">
  <button
    mat-fab
    color="primary"
    aria-label="Add-New-Paper"
    routerLink="/add-quiz"
    matTooltip="Add new Paper..."
    [matTooltipShowDelay]="150"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>
